body {
  padding: 2rem;
  background-color: whitesmoke;
}

.item {
  background-color: skyblue;
  border-radius: 5px;
  height: 180px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}