html, body {
    font-family: 'open_sansregular';
    height: 100%;
    margin: 0;
}

.wrapper {
  border-bottom: solid 1px rgb(175, 175, 175);
}

.item-header-right {
    font-size: 1.4em;
    line-height: 2em;
    color: purple;
}

.item-header-left {
    font-size: 1.4em;
    line-height: 2em;
    color: purple;
    vertical-align: top;
    margin: 0px;
}

.questions {
  font-family: 'open_sansregular';
  font-weight: bold;
  font-size: 3.0rem;
  letter-spacing: -.15rem;
}

.register{
  font-family: 'open_sansregular';
  font-weight: bold;
  font-size: 3.0rem;
  letter-spacing: -.15rem;
  border: 2px solid hotpink;

}

.start {
  font-family: 'open_sansregular';
  font-weight: bold;
  font-size: 3.0rem;
  letter-spacing: -.15rem;
  border: 2px solid hotpink;

}

.scores {
  font-family: 'open_sansregular';
  font-weight: bold;
  font-size: 3.0rem;
  letter-spacing: -.15rem;
  border: 2px solid hotpink;

}
  
li {
    font-size: 1.25rem;
    color: rgb(253, 253, 255);
    
    width: 225px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  
    margin-top: 1.0rem;
    margin-bottom: 1.25rem;
  
    border-radius: 8px;
    background-color: rgb(59, 0, 99);
  }

  li:hover {
    background-color: rgb(138, 0, 236);
}

ul {
    padding: 0;
    list-style-type: none;
  }

.Message {
  display: none;
}

.item-center-end {
  display: none;
}

.item-header-left, p {
  cursor: pointer;
}

.item-center-start {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 400px;
  align-items: center;
  border: solid red 4px;
}

.item-center-start h1 {
  font-size: 4rem;
  line-height: 2rem;
}

.instructions {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.start-button {
  font-family: 'open_sansregular';
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  background-color: blueviolet;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 30px;
  padding-left: 30px;
}

.No-Message,
.Message {
  font-size: 2rem;
  display: block;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.No-Message {
  height: auto;
  opacity: 1;
  width: auto;
  color: rgb(255, 255, 255);
}

.Message {
  color: rgb(0, 0, 0);
  height: 0;
  opacity: 0;
  width: 0;
  letter-spacing: .2rem;
  line-height: 1;
  position: relative;
  background-color: aqua;
  }