.wrapper {
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.item-header-right {
  border-radius: 6px;
  text-align: right;
  height:60px;
  flex:400px;

  padding-top: 1.0rem;
  padding-right: 1.5rem;
  border: 1px solid  red;
/*  background-color: rgb(205, 222, 228); */
  opacity: 1.0;
}

.item-header-left {
  border-radius: 6px;
  text-align: left;
  height:60px;
  flex:400px;

  padding-top: 1.0rem;
  padding-left: 1.25rem;
  border: 1px solid  red;
/*  background-color: rgb(205, 222, 228); */
  opacity: 1.0;
}

.item-center {
  width: 100vw;
  flex: 100vw;

  padding-top: 3.0rem;
  padding-bottom: 2rem;
  padding-right: 20vw;
  padding-left: 24vw;

  opacity: 1.0;
}

.item-center-end {
  display: none;
  border-radius: 6px;
  width: 100vw;
  flex: 100vw;
  border: 1px solid  red;
  background-color: rgb(0, 187, 255); */

  padding-top: 3.0rem;
  padding-bottom: 2rem;
  padding-right: 20vw;
  padding-left: 24vw;

  opacity: 1.0;
}

.item-center-start {
  display: none;
  border-radius: 6px;
  width: 100vw;
  flex: 100vw;
  border: 1px solid  red;
  background-color: rgb(0, 187, 255); */

  padding-top: 3.0rem;
  padding-bottom: 2rem;
  padding-right: 20vw;
  padding-left: 24vw;

  opacity: 1.0;
}